@using Microsoft.AspNetCore.Identity
@using MultiPlayer.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ViewData["Title"] = "Home Page";}

@if (SignInManager.IsSignedIn(User))
{
    <div id="react-app">Loading...</div>
    @section scripts {
        <script src="~/dist/main.js" asp-append-version="true"></script>
    }
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button class="btn btn-primary" style="margin-right: 5em;">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}